<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="CyclingDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=cyclingDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<!--DESKTOP-PAUAJ7U-->
		<!--(localdb)\MSSQLLocalDB-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>